.call-stck {
    background: #191936;
    padding: 10px 10px;
    margin: 2px 0px;
}
.sticky-elm-blk {
    position: fixed;
    bottom: 50%;
    top: 50%;
    display: grid;
    align-items: end;
    align-content: space-between;
    justify-items: center;
}