.prc-pln-tp-blk {
    text-align: center;
    padding: 30px;
}
.prc-pln-span {
    background: #e5e5e5;
    padding: 5px 20px;
    border-radius: 25px;
    color: #2f2f62;
    font-weight: 500;
    font-size: 15px;
}
.prc-pln-hd {
    font-size: 44px;
    color: #fff;
    font-weight: 600;
    margin: 20px 0px;
}
.prc-blk {
    background: #f7f7f7f7;
    padding: 30px;
    border-radius: 8px;
    margin: 10px 0px;
}
.prc-blk-hd-fr {
    color: #272750;
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 10px;
}
.prc-pln-p {
    color: #d7d0e9;
}
.prc-btn {
    text-align: center;
    background: #25255c;
    padding: 10px 0px;
    border-radius: 25px;
}
.prc-btn a {
    text-decoration: none;
    color: #fff;
    
}
.prc-mainblk {
    padding: 50px 0px;
    background: linear-gradient(90deg, #212140 60%, #b32929 113%);
}

.prcbtn {
    text-decoration: none;
    color: #000;
    margin: 0px 10px;
    background: #fff;
    font-weight: 600;
    padding: 8px 15px;
    border-radius: 7px;
    box-shadow: 0px 2px 1px 1px #131638;
}
.flex-btn-grp{
    margin: 50px 0px;   
}
.prc-mainblk::before{
    content: '';
    background-image: url(/_next/static/media/badge.95974d78.webp);
    opacity: 0.1;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: bottom right;
}